.main {
  font-size: 40px;
  padding: 0px;
  border-bottom: 3px solid black;
  text-align: center;
  margin-bottom: 0px;
}
div.h1 {
  padding: 0px;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  border-right: none;
}
div.menu {
  border-right: 3px solid black;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 20px;
}
div.contents {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.lastline {
  border-top: 3px solid black;
}
h1 {
  text-decoration: none;
}
a {
  text-decoration: none;
}
