  a {text-decoration: none}
 h1 {
   font-size: 50px;
   text-align: center;
   border-bottom:1px solid gray;
   margin:0;
   padding:20px;
 }
 #grid{
   display: grid;
   grid-template-columns: 300px 1fr;
 }
 #grid ol{
    border-right:1px solid gray;
    width:200px;
    padding:20px;
    margin:0;
    padding-left: 40px;
  }
  @media(max-width:800px){
    #grid{
    display: block;
    }
    h1 {
      border-bottom:none;
    }
    #grid ol{
       border-right:none;
     }
  }
